

.title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 2%;
}



.searchForm{
    width: 80%;
    margin: 0% 10%;
}

.search-container{
    width: 100%;
    // margin: 0% 20%;
}


.user-info:hover{
    text-decoration: underline;
}

.user-info{
    color: #6db2f8;
    cursor: pointer;

}

