<section name="User">
  <div style="margin: 1%;">
      <button mat-stroked-button color="primary"  (click)="backtoUserList()">
        Back
      </button>
  </div>

  <mat-card *ngIf="user" class="usercard matcard">
    <mat-card-content *ngIf="this.user?.id">
      <mat-card-title>Name : {{ user.name }}</mat-card-title>
      <mat-card-subtitle>Email : {{ user.email }}</mat-card-subtitle>
      <br>
      <p>contact :  {{ user.phone }}</p>
      <p> Work at {{ user.company?.name}}</p>
    </mat-card-content>
  
    <p *ngIf="!user?.id" class="errorMsg">
      No records found
    </p>
</mat-card>
</section>
