/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body{
  margin: 0%;
  background-color: #d7e3ff;
  font-family: monospace;
  font-size: 16px;
}

.matcard{
    background-color: #fff !important;
    margin-bottom: 2%;
}


.errorMsg{
    color:red;
    text-align: center;
    margin:1%;
}
